@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  background: black;
  color: antiquewhite;
  margin: 0;
  padding: 0;
}


.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgba(0, 38, 255, 0.483);

}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background: black;
  color: antiquewhite;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(0, 170, 255);
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 5opx;
  background: transparent;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: transparent;
  border: 2px solid rgb(0, 242, 255);
  border-radius: 8px;
  font-size: 19px;
  color: rgb(0, 242, 255);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: -5s;
}

btn-box a:nth-child(1) {
  background: transparent;
  color: rgb(0, 213, 255);
}

.btn-box a:nth-child(1):hover {
  color: black;
}

.btn-box a:nth-child(1)::before {
  background: rgb(0, 255, 187);
}


.btn-box a:nth-child(2) {
  background: transparent;
  color: rgb(0, 213, 255);
}

.btn-box a:nth-child(2):hover {
  color: black;
}

.btn-box a:nth-child(2)::before {
  background: rgb(0, 255, 187);
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(0, 255, 187);
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 20px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(0, 183, 255);
  border-radius: 40%;
  font-size: 20px;
  color: rgb(0, 183, 255);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: black;

}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(0, 242, 255);
  z-index: -1;
  transition: .5s;

}

.home-sci a:hover::before {
  width: 100%;
}

.home-content p {
  text-align: justify;
}

@media screen and (max-width:728px) {

  .btn-box {
    height: 25px;
  }

  .home-content {
    max-width: 600px;
  }

  .home-content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
  }

  .home-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 170, 255);
  }

  .home-content p {
    font-size: 16px;
    margin: 20px 0 20px;
  }

  .home-sci {
    bottom: 0;
  }

}

@media screen and (max-width:420px) {
  .home-content p {
    font-size: 12px;
    margin: 10px 0 10px;
  }

  home-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }

  .home-content h3 {
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 170, 255);
  }

}